litellm.seinxera.com {

    reverse_proxy litellm:4000

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        -Server
    }

    log {
        output stdout
        format json
    }
}